.navbar-dark {
  background-color: #563d7c;
}

.navbar-dark a {
  color: white;
}

.jumbotron {
  color: white;
  background-color: black;
}

.clickyholder {
  height: 170px;
  width: 170px;
}

.img-container {
  height: 170px;
  width: 170px;
}

  .img-container img{
    height: 170px;
    width: 170px;
  }